body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(56, 35, 75);
}

.container{
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: 2px outset black;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 13, 36);
}

.strategyPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 13, 36);
}

.colorsPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 13, 36);
}

.StrategyHelp{
  height: 30px;
  width: 140px;
  border: 2px outset black;
  cursor: pointer;
}

.adyPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 13, 36);
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}

.clicksPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 13, 36);
}

.clicksSquare{
  display: inline;
  padding-left: 30px;
}

.EndGame{
  
  align-items: center;
  font-size: 100px;
  
  /*
  position: absolute;
  background-color: rgba(255, 255, 255, 0.598);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  */
}

.origen{
  border : 3px solid black;
}
